# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

ngrok.yml

tcgmasters

TOM
*.tdf
*.TDF
*.tom.xml

# Local planning / personal workspace
roadmap.md
small-todos
.vscode/settings.json
aidocs/roadmap.md
