.event-day-box {
  box-shadow: none !important;
  border: 2px solid var(--app-calendar-day-border) !important;
  border-radius: 0.75rem !important;
}

/* Force background colors to be visible on event days */
.vc-highlight.vc-highlight-bg-solid {
  opacity: 1 !important;
}

.has-events .vc-highlight-bg-solid {
  background-color: var(--app-calendar-highlight-default) !important;
}

.has-custom-events .vc-highlight-bg-solid {
  background-color: var(--app-calendar-highlight-custom) !important;
}
